<h1>bearing list</h1>
<div *ngIf="error">{{error}}</div>
<div *ngIf="success">{{success}}</div>

<h2>BEARING數量</h2>
<mat-form-field>
 <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="brand_name">
    <mat-header-cell *matHeaderCellDef> brand_name </mat-header-cell>
    <mat-cell *matCellDef="let bearings"> {{bearings.brand_name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="bearing_model_number">
    <mat-header-cell *matHeaderCellDef> bearing_model_number </mat-header-cell>
    <mat-cell *matCellDef="let bearings"> {{bearings.bearing_model_number}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="amount">
    <mat-header-cell *matHeaderCellDef> amount </mat-header-cell>
    <mat-cell *matCellDef="let bearings"> {{bearings.amount}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="bearing_id">
    <mat-header-cell *matHeaderCellDef> bearing_id </mat-header-cell>
    <mat-cell *matCellDef="let bearings"> {{bearings.bearing_id}} </mat-cell>
  </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let rows; columns: displayedColumns;"></mat-row>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
<div id="beading amount"class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="md-form">
        <input type="text" class="form-control" [(ngModel)]="searchText" (keyup)="searchItems()" id="search-input"
               mdbInput>
        <label for="search-input">Search</label>
      </div>
    </div>
    <table stickyHeader="true" hover="true" striped="true" class="z-depth-1">
      <thead class="sticky-top">
         <tr>
           <th> 牌子</th>
           <th> 型號</th>
           <th> 數量</th>
      </tr>
      </thead>
      <tbody #row>
         <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)"
          *ngFor="let item of bearings">
          <td>{{item.brand_name}}</td>
          <td>{{item.bearing_model_number}}</td>
          <td>{{item.amount}}</td>
         </tr>
      </tbody>
      <tfoot class="grey lighten-5 w-100">
      <tr>
        <td colspan="4">
          
        </td>
      </tr>
      </tfoot>
    </table>
  </div>
</div>
  


